.projects {
  text-align: center;
  padding: 80px 0;
  color: #f1f1f1;
}

.project__title {
  font-size: 2.5rem;
  margin: 0 auto 30px;
  color: rgb(231, 168, 195);
  background: #54575d;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

.project__subtext {
  color: #222;
}

.filter-buttons {
  margin-bottom: 40px;
}

.filter-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: 1px solid #b794f4;
  background: transparent;
  color: #080000c7;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.filter-buttons button:hover,
.filter-buttons button.active {
  background-color: #b794f4;
  color: #1b1b2f;
}

.project__card {
  width: 550px;
  height: 500px;
  border: 2px solid #b794f4;
  border-radius: 16px;
  overflow: hidden;
  background-color: #2d2d44;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.project__card:hover {
  transform: translateY(-5px);
}

.project__card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.project__info {
  padding: 20px;
}

.project__info h3 {
  color: #b794f4;
  margin-bottom: 10px;
}

.project__info p {
  color: #dcdcdc;
  font-size: 0.95rem;
  margin-bottom: 15px;
}

.tech-stack span {
  display: inline-block;
  background-color: #3b3b5f;
  border: 1px solid #b794f4;
  color: #b794f4;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.8rem;
  margin: 3px;
}

.project__links a {
  display: inline-block;
  margin: 10px;
  padding: 8px 16px;
  border: 1px solid #b794f4;
  border-radius: 20px;
  text-decoration: none;
  color: #b794f4;
  transition: 0.3s;
}

.project__links a:hover {
  background-color: #b794f4;
  color: #1b1b2f;
}

.project__swiper {
  width: 80%;
  margin: auto;
  padding: 50px 0;
  /* perspective: 1200px; */
}

.project-swiper .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-slide {
  width: 400px;
  height: 600px;
  transition: transform 0.8s ease, opacity 0.6s ease;
  transform-origin: center;
  margin: 0 30px;
  opacity: 0.5;
}

.swiper-slide-active {
  transform: translateZ(150px) scale(1);
  opacity: 1;
  z-index: 3;
}

.swiper-slide-prev {
  transform: rotateY(25deg) translateX(-100px) scale(0.85);
  opacity: 0.7;
  z-index: 2;
}

.swiper-slide-next {
  transform: rotateY(-25deg) translateX(100px) scale(0.85);
  opacity: 0.7;
  z-index: 2;
}
