.floating-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

@keyframes gridMove {
  from {
    background-position: 0 0, 0 0;
  }
  to {
    background-position: 40px 40px, 40px 40px;
  }
}

.floating {
  position: absolute;
  font-size: 50px;
  color: rgb(231, 168, 195);
  opacity: 1;
  z-index: 1;
  animation-name: floatAround;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes floatAround {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(8px, -14px) rotate(4deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
