.nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #35081d;
  background: #39e7ca;
  padding: 10px;
  border-radius: 10px;
  margin-left: 30px;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0 30px;
}

.nav__links a {
  color: rgb(65, 10, 46);
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
  background: #39e7ca;
  padding: 10px;
  border-radius: 10px;
}

.nav__links a:hover {
  color: #b3a4ff;
}
