.nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #35081d;
  background: #39e7ca;
  padding: 10px;
  border-radius: 10px;
  margin-left: 30px;
}

.nav__links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0 30px;
}

.nav__links a {
  color: rgb(65, 10, 46);
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
  background: #39e7ca;
  padding: 10px;
  border-radius: 10px;
}

.nav__links a:hover {
  color: #b3a4ff;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
  z-index: 10;
  margin-right: 20px;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: #35081d;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(9px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-9px);
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav__links {
    position: absolute;
    top: 25px;
    right: 40px;
    background: #39e7ca;
    border-radius: 16px;
    padding: 20px 24px;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    transform: scale(0.9);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    z-index: 5;
  }

  .nav__links.open {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }

  .nav__links a {
    font-size: 1.1rem;
    background: none;
    color: #35081d;
    padding: 8px 12px;
    border-radius: 8px;
    text-align: center;
  }

  .nav__links a:hover {
    color: #b3a4ff;
  }
}

@media (max-width: 600px) {
  .hamburger {
    margin: 0;
  }

  .nav__logo {
    margin: 0;
    font-size: 0.85rem;
  }
}
